* {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

html {
  background-color: antiquewhite;
  font-size: 16px;
}

body {
  width: 640px;
  margin: auto;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 100px;
}

p {
  font-size: 1.5rem;
}
